$hamburger-padding-x           : 0.75rem;
$hamburger-padding-y           : 0.25rem;
$hamburger-layer-width         : 1.5em;
$hamburger-layer-height        : 0.1rem;
$hamburger-layer-spacing       : 0.4rem;
$hamburger-layer-color         : rgba(255, 255, 255, 0.5);
$hamburger-layer-border-radius : 0;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : #fff;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;